<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="group.hdx.mapper.EarthquakeStatisticsMapper">

    <select id="getAllStatistics" resultType="group.hdx.po.EarthquakeStatisticsPO">
        select *
        from disaster.earthquake_disasterinfo
    </select>

    <select id="getStatisticsByCondition" resultType="group.hdx.po.EarthquakeStatisticsPO" parameterType="group.hdx.query.EarthquakeSearchCondition">
        select *
        from disaster.earthquake_disasterinfo
        where `date` between #{minDate} and #{maxDate}
        and latitude between #{minLatitude} and #{maxLatitude}
        and longitude between #{minLongitude} and #{maxLongitude}
        and depth between #{minDepth} and #{maxDepth}
        and magnitude between #{minMagnitude} and #{maxMagnitude}
        and location like #{location}
    </select>

    <select id="getProvinceStatistics" resultType="group.hdx.dto.ProvinceStatisticsDTO">
        select province as province, count(earthquakeId) as value
        from disaster.earthquake_disasterinfo
        group by province
    </select>

    <select id="getRecentDisasterLocation" resultType="group.hdx.dto.LocationStatisticsDTO">
        select longitude as longitude, latitude as latitude
        from disaster.earthquake_disasterinfo
        limit 0, 5
    </select>

<!--    <select id="getRecentHoursStatistics" resultType="group.hdx.po.EarthquakeStatisticsPO" parameterType="java.util.Date">-->
<!--        select * from disaster.earthquake_disasterinfo-->
<!--        where   <![CDATA[ `date` < #{date,jdbcType=TIMESTAMP} ]]>-->
<!--    </select>-->

</mapper>